Source Code/Node-RED/flows.json
[
    {
        "id": "12e45d5bc4f95e84",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "86266338db733f15",
        "type": "mqtt in",
        "z": "12e45d5bc4f95e84",
        "name": "b6510503298/jump",
        "topic": "b6510503298/jump",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c82025aeb410bf7c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 180,
        "wires": [
            [
                "b477d60fe5f57a43"
            ]
        ]
    },
    {
        "id": "b477d60fe5f57a43",
        "type": "ui_text",
        "z": "12e45d5bc4f95e84",
        "group": "8638ce16640ef5f9",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Jumping status",
        "label": "Jumping status",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 760,
        "y": 180,
        "wires": []
    },
    {
        "id": "a23d9c7ad6370fa4",
        "type": "mqtt in",
        "z": "12e45d5bc4f95e84",
        "name": "b6510503298/attack",
        "topic": "b6510503298/attack",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c82025aeb410bf7c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 260,
        "wires": [
            [
                "17549b01491ac28b"
            ]
        ]
    },
    {
        "id": "17549b01491ac28b",
        "type": "ui_text",
        "z": "12e45d5bc4f95e84",
        "group": "8638ce16640ef5f9",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Attacking status",
        "label": "Attacking status",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 760,
        "y": 260,
        "wires": []
    },
    {
        "id": "04d94ae8ee86b5b9",
        "type": "mqtt in",
        "z": "12e45d5bc4f95e84",
        "name": "b6510503298/movement",
        "topic": "b6510503298/movement",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c82025aeb410bf7c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 410,
        "y": 340,
        "wires": [
            [
                "d4e1f46fa1d9fe97"
            ]
        ]
    },
    {
        "id": "d4e1f46fa1d9fe97",
        "type": "ui_text",
        "z": "12e45d5bc4f95e84",
        "group": "8638ce16640ef5f9",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Movement status",
        "label": "Movement status",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 770,
        "y": 340,
        "wires": []
    },
    {
        "id": "c82025aeb410bf7c",
        "type": "mqtt-broker",
        "name": "chayanon.ma@ku.th",
        "broker": "iot.cpe.ku.ac.th",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8638ce16640ef5f9",
        "type": "ui_group",
        "name": "Default",
        "tab": "764ce3c8ac515713",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "764ce3c8ac515713",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]